.Badge {
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
  border-radius: 6px 6px 6px 6px;
  overflow: hidden;
  margin: .5rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.Badge__header {
  padding: 0.3rem 0;
  height: 54px;
  background: #23272B;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.Badge__section-content1 {
  display: block;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Badge-image {
  margin: .3rem;
  padding: 0px;
  font-size: 18px;
}

.Artist {
  margin: .1rem;
  padding: .1rem;
  font-size: 18px;
}

.Badge__type {
  color: #e24a1c;
  margin-left: 0%;
}

.BadgeType {
  margin: .1rem;
  padding: .1rem;
}


.Badge__avatar {
  border-radius: 2%;
  margin: .1rem;
  width: 280px;
  height: 190px;
  font-size: 13px;
  margin: 0px;
  padding: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.90);
  overflow: hidden;
}

.Badge__footer {
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e24a1c;
  font-weight: bold;
  font-style: italic;
}