
.Mask-title{
  color: #723934;
}

.Author-mask-1{
  color:#e24a1c;
  font-weight: bold;
}

.Author-mask-2 {
  color:#481c18;
  font-weight: bold;
}

.Mask-comments {
  color: #5C472C;
  height: 10px;;
}

/* .MaskModel{
  width: 50%;
  border: 1px solid rebeccapurple;
} */